.h1 {
  text-align: center;
  font-size: 70px;
  font-family: 'Arbutus Slab';
  color: #336699;
}

.h2 {
  text-align: center;
  padding: 70px 0;
  color: #336699;
  font-size: 40px;
}

.li {
  display: inline;
  float: left;
}

.li a {
  display: inline;
  padding: 8px;
  background-color: ;
  text-decoration: none;
  color: black;
  font-size: 25px;
}

.ul {
  list-style-type: none;
  margin: 0;
  padding: 30px;
  overflow: hidden;
  background-color: grey;
}

.img_text{
  padding:15px;
  text-align: center;
}

 p {
   color: #336699;
   font-size: 25px;
}

body {
  background: rgb(2,0,36);
background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(29,29,66,1) 31%, rgba(2,0,36,1) 100%);
}

h3 {
    color: #336699;
    font-size: 35px;
}

img {
  border-radius: 8px;
}

.featured_other {
  position: fixed;
  left: 50%;

}
